sudo: required
dist: trusty
before_install:
 - sudo apt-get -qq update && sudo apt-get install -y --no-install-recommends cmake texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra dvipng texlive-latex-recommended texlive-full
script:
 - mkdir build
 - cd build
 - cmake ..
 - make
 - cd ..
 - ls build
 - ls build/adminmanual

deploy:
  provider: releases
  api_key: "$GH_TOKEN"
  file:
  - $TRAVIS_BUILD_DIR/build/adminmanual/hypha-admin-manual.pdf
  - $TRAVIS_BUILD_DIR/build/developermanual/hypha-developer-manual.pdf
  - $TRAVIS_BUILD_DIR/build/presentation/hypha-presentation.pdf
  skip_cleanup: true
  on:
    tags: true
